# Server
PORT=3000
HOST=0.0.0.0
NODE_ENV=development

# MySQL / MariaDB
DB_HOST=localhost
# Puerto 3307 porque el MySQL de Windows ocupa el 3306 dentro de WSL (networking espejado)
DB_PORT=3307
DB_USER=elshampan
DB_PASSWORD=elshampan
DB_NAME=elshampan

# Auth
JWT_SECRET=change-me-in-your-env
JWT_EXPIRES_IN=7d
